body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    position: fixed;
    flex-flow: row nowrap;
    background-color: #778899;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 7%;
    width: 100%;
    justify-content: center;
}

header img {
    width: auto;
}

#navig {
    width: 60%;
    display: flex;
    flex-flow: row-reverse;
}

#navig input {
    align-self: center;
}

footer {
    background: #778899;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.circular {
    width: max-content;
    height: 90%;
    overflow: hidden;
    border-radius: 50%;
}

.circular img {
    width: 100%;
    height: 100%;
}

#listA {
    display: none;
    position: absolute;
    align-items: center;
    flex-flow: column;
    top: 100%;
    background-color: grey;
}

@media screen and (max-width: 100vh) {
    header {
        padding-bottom: 0px;
    }
    #navig::after {
        content: "...";
        margin-right: 50%;
    }
    #navig nav {
        float: initial;
    }
    #navig:hover nav {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 60vh;
        background-color: #778899;
        align-items: center;
    }
    nav {
        display: none;
        flex: 0 0 auto;
    }
}