body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #464646;
}

body>div {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    justify-content: center;
}

.partie {
    width: 80%;
    margin-top: 8%;
    margin-bottom: 5%;
    border-radius: 5%;
    height: min-content;
    align-self: center;
    text-align: center;
    background-color: #bebebebb;
}

@media screen and (max-width: 100vh) {
    .partie {
        width: 100%;
        margin-top: 25%;
        margin-bottom: 25%;
    }
}